name: Build Friday APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Buildozer
        uses: ArtemGr/kivy-buildozer-action@v1.2
        with:
          save_bin: true
          
